body{margin:0;padding:0;background-color:rgba(255,255,255,.5);}
#background{display:block;background-color:rgba(255,255,255,.5);background-size:auto;left:0;top:0;position:fixed;height:100%;width:100%;z-index:0;}
#title{font-size:30px;display:block;height:auto;width:100%;left:0;position:absolute;text-align:center;font-weight:700;top:3vh;}
#contactlink{font-size:15px;display:block;height:auto;width:100%;left:0;position:relative;text-align:center;top:60px;}
#linkblock{position:relative;display:inline-table;vertical-align:middle;height:30px;}
p{position:relative;padding-left:70px;padding-right:70px;padding-top:10px;font-size:16px;text-align:justify;margin:auto;}
p:first-letter{float:left;font-size:50px;line-height:40px;padding-top:3px;padding-right:8px;padding-left:3px;}
#icons{display:inline-block;position:relative;padding:10px;}